### 행정구역 정보 분석 및 시각화
1. pandas의 read_csv() 함수로 csv file을 읽어서 DataFrame 객체로 생성하고 데이터 확인하기
2. Data Selection : loc[] / iloc[] 를 사용해서 특정 Row와 Column 선택하기
3. 컬럼명 변경하기
4. DataFrame 객체를 Excel file로 저장하기
5. Data Grouping : groupby() 함수를 사용해서 그룹핑하기
6. 상관관계 분석 : corr() 함수를 사용해서 인구수와 면적간의 상관관계 
7. 시각화 : seaborn의 barplot() 함수를 사용해서 Plot 그리기

In [1]:
import pandas as pd
print(pd.__version__)

2.2.2

##### pandas의 read_csv() 함수로 csv file을 읽어서 DataFrame 객체로 생성하고 데이터 확인하기

In [2]:
data = pd.read_csv('data/data_draw_korea.csv')
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [3]:
# head() 함수
data.head(3)

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시

In [4]:
# tail() 함수
data.tail()

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
224         224  127462        제천  8  10  882.47  충청북도  제천시
225         225   34480        증평  6  11   81.84  충청북도  증평군
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

In [5]:
# sample() 함수
data.sample(3)

     Unnamed: 0     인구수 shortName  x   y      면적   광역시도 행정구역
156         156  317785      인천계양  2   5   45.58  인천광역시  계양구
94           94  297826      광주서구  2  20   46.73  광주광역시   서구
56           56   31983        산청  5  18  794.59   경상남도  산청군

In [6]:
# 컬렴명 확인하기
print(f'컬럼명 = {data.columns}')
# 인덱스 확인하기
print(f'인덱스 = {data.index}')

컬럼명 = Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
인덱스 = RangeIndex(start=0, stop=229, step=1)

In [7]:
# values 속성으로 값 확인하기
print(type(data.values))
data.values

<class 'numpy.ndarray'>

array([[0, 202520, '강릉', ..., 1040.07, '강원도', '강릉시'],
       [1, 25589, '고성(강원)', ..., 664.19, '강원도', '고성군'],
       [2, 86747, '동해', ..., 180.01, '강원도', '동해시'],
       ...,
       [226, 62809, '진천', ..., 406.08, '충청북도', '진천군'],
       [227, 790216, '청주', ..., 932.51, '충청북도', '청주시'],
       [228, 198077, '충주', ..., 983.7, '충청북도', '충주시']], dtype=object)

In [8]:
# info() 함수
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [9]:
# 모든 컬럼의 타입 확인
data.dtypes

Unnamed: 0      int64
인구수             int64
shortName      object
x               int64
y               int64
면적            float64
광역시도           object
행정구역           object
dtype: object

In [10]:
# 면적 컬럼의 타입을 확인
print(type(data['면적']))
print(type(data.면적)) #컬럼명에 공백이 없을 경우에만 사용가능함
data['면적'].dtypes

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

dtype('float64')

In [11]:
# 특정컬럼(인구수)의 타입 확인
print(type(data['인구수']))
data['인구수'].dtypes

<class 'pandas.core.series.Series'>

dtype('int64')

In [12]:
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [13]:
# describe() 함수, 숫자 타입인 컬럼의 통계함수 출력
import numpy as np
data.describe(include=[np.number])

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [14]:
# describe() 함수, 문자열(object) 타입인 컬럼의 통계함수 출력
data.describe(include=[object])

       shortName 광역시도 행정구역
count        229  229  229
unique       229   17  206
top           강릉  경기도   동구
freq           1   31    6

In [15]:
# 행정구역 컬럼의 값이 '동구' 인 조건식
data['행정구역'] == '동구'

0      False
1      False
2      False
3      False
4      False
       ...
224    False
225    False
226    False
227    False
228    False
Name: 행정구역, Length: 229, dtype: bool

In [16]:
# 해당 조건식과 매칭되는 Row data 선택 boolean indexing
data.loc[data['행정구역'] == '동구']

     Unnamed: 0     인구수 shortName   x   y      면적   광역시도 행정구역
92           92   97571      광주동구   3  20   48.86  광주광역시   동구
98           98  330830      대구동구  11  13  182.35  대구광역시   동구
104         104  236524      대전동구   5  13  136.80  대전광역시   동구
112         112   85952      부산동구  10  17    9.77  부산광역시   동구
151         151  164738      울산동구  12  14   35.77  울산광역시   동구
159         159   68950      인천동구   1   5    7.05  인천광역시   동구

In [17]:
# '광역시도' == '경기도' log[row,column]
gy_df = data.loc[data['광역시도'] == '경기도','인구수':'행정구역'].reset_index(drop=True)

In [18]:
#unique한 광역시도명 출력하기
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [19]:
#index를 1부터 시작하도록 
import numpy as np

#index 변경
gy_df.index = np.arange(1,len(gy_df)+1)
gy_df.index

Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
      dtype='int32')

In [20]:
gy_df

        인구수 shortName  x  y       면적 광역시도  행정구역
1     53497        가평  9  3  843.040  경기도   가평군
2    955384        고양  4  2  267.330  경기도   고양시
3     63227        과천  7  7   35.813  경기도   과천시
4    327111        광명  3  3   38.500  경기도   광명시
5    290210        광주  8  7  431.840  경기도   광주시
6    175676        구리  9  4   33.300  경기도   구리시
7    273302        군포  5  8   36.350  경기도   군포시
8    326523        김포  2  3  276.640  경기도   김포시
9    610300       남양주  8  3  458.440  경기도  남양주시
10    90398       동두천  7  2   95.680  경기도  동두천시
11   805473        부천  2  4   53.440  경기도   부천시
12   911628        성남  7  8  141.820  경기도   성남시
13  1125461        수원  6  9  121.090  경기도   수원시
14   381412        시흥  3  5  134.400  경기도   시흥시
15   668089        안산  3  6  144.780  경기도   안산시
16   173061        안성  4  8  554.200  경기도   안성시
17   566558        안양  3  4   58.520  경기도   안양시
18   191266        양주  8  2  310.310  경기도   양주시
19    95614        양평  9  6  877.080  경기도   양평군
20   100669        여주  9  7  608.640  경기도   여주시
21    41076        연천  7  1  695.230  경기도   연천군
22   200793        오산  3  8   42.740  경기도   오산시
23   915005        용인  7  9  591.500  경기도   용인시
24   149080        의왕  6  8   54.000  경기도   의왕시
25   408220       의정부  7  3   81.590  경기도  의정부시
26   190537        이천  8  8  461.020  경기도   이천시
27   385528        파주  3  2  672.560  경기도   파주시
28   423763        평택  5  9  452.310  경기도   평택시
29   140159        포천  8  1  826.380  경기도   포천시
30   150061        하남  9  5   93.100  경기도   하남시
31   555129        화성  3  7  688.100  경기도   화성시

In [21]:
# describe() 함수, 모든 컬럼의 통계함수 출력
data.describe(include='all')

,Unnamed: 0,인구수,shortName,x,y,면적,광역시도,행정구역
count,229.000000,2.290000e+02,229,229.000000,229.000000,229.000000,229,229
unique,NaN,NaN,229,NaN,NaN,NaN,17,206
top,NaN,NaN,강릉,NaN,NaN,NaN,경기도,동구
freq,NaN,NaN,1,NaN,NaN,NaN,31,6
mean,114.000000,2.110898e+05,NaN,6.117904,11.262009,435.419795,NaN,NaN
std,66.250786,2.074378e+05,NaN,3.320469,6.040898,381.612549,NaN,NaN
min,0.000000,8.392000e+03,NaN,0.000000,0.000000,2.800000,NaN,NaN
25%,57.000000,4.955900e+04,NaN,3.000000,6.000000,54.000000,NaN,NaN
50%,114.000000,1.401590e+05,NaN,6.000000,11.000000,436.400000,NaN,NaN
75%,171.000000,3.216180e+05,NaN,9.000000,16.000000,692.800000,NaN,NaN
max,228.000000,1.125461e+06,NaN,13.000000,25.000000,1817.940000,NaN,NaN

### Data Selection
* loc[] 또는 iloc[]
* loc[Row 선택, Column 선택]
* loc
    * Row 선택 - 조건식(boolean indexing), 슬라이싱 [0:20], 특정 인덱스 [0,3,5]
    * Column 선택(컬러명) - 슬라이싱 ['인구수':'행정구역'], 컬럼명 여러개 ['인구수','면적'], 컬럼명 하나만
* iloc
    * Row 선택 - 슬라이싱 [0:20], 특정 인덱스 [0,3,5]
    * Column 선택(컬럼인덱스) - 슬라이싱 [0:4], 특정 컬럼인덱스 [0,5]

In [ ]:
# 인구수 1개의 컬럼 선택
data['인구수']

In [ ]:
# ['행정구역','인구수','면적'] 컬럼의 데이터 출력
data[['행정구역','인구수','면적']].head()

In [24]:
# 인구수 컬럼의 집계함수
print(f"인구수 최대값 {data['인구수'].max():,}")
print(f"인구수 최소값 {data['인구수'].min():,}")
print(f"인구수 평균 {round(data['인구수'].mean()):,}")
print(f"인구수 표준편차 {round(data['인구수'].std()):,}")
print(f"인구수 중간값 {data['인구수'].median():,}")
data['인구수'].quantile([0.25, 0.75])

인구수 최대값 1,125,461
인구수 최소값 8,392
인구수 평균 211,090
인구수 표준편차 207,438
인구수 중간값 140,159.0

0.25     49559.0
0.75    321618.0
Name: 인구수, dtype: float64

In [25]:
# 인구수가 가장 많은 행정구역?
# 인구수의 최대값을 max_pop 변수에 저장
max_pop = data['인구수'].max()
#data['인구수'] == max_pop
data.loc[data['인구수'] == max_pop]

    Unnamed: 0      인구수 shortName  x  y      면적 광역시도 행정구역
30          30  1125461        수원  6  9  121.09  경기도  수원시

In [26]:
# 면적이 넓은 행정구역?
data.loc[data['면적'] == data['면적'].max()]

    Unnamed: 0    인구수 shortName   x  y       면적 광역시도 행정구역
15          15  62957        홍천  10  4  1817.94  강원도  홍천군

In [27]:
# 인구수가 가장 적은 행정구역?
data.loc[data['인구수'] == data['인구수'].min()]

    Unnamed: 0   인구수 shortName   x  y     면적  광역시도 행정구역
83          83  8392        울릉  13  6  72.82  경상북도  울릉군

In [28]:
# unique한 광역시도명
print(len(data['광역시도'].unique()))
data['광역시도'].unique()

17

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [29]:
# 광역시도별 Row Counting
data['광역시도'].value_counts()

광역시도
경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
대전광역시       5
광주광역시       5
울산광역시       5
제주특별자치도     2
세종특별자치시     1
Name: count, dtype: int64

In [ ]:
# data['광역시도'] == '경기도' 의 ['행정구역','인구수','면적']  컬럼의 데이터 출력하기
data.loc[data['광역시도'] == '경기도',['행정구역','인구수','면적']]\
.sort_values(by='인구수',ascending=False)\
.reset_index(drop=True)

In [ ]:
# data['광역시도'] == '경기도' 의 ['행정구역','인구수','면적']  컬럼의 데이터를 면적을 descending 순서대로 출력하기
data.loc[data['광역시도'] == '경기도',['행정구역','인구수','면적']]\
.sort_values(by='면적',ascending=False)\
.reset_index(drop=True)

In [ ]:
#경기도에 속한 행정구역명, 인구수, 면적 선택하기 인구수를 descending 순서대로 출력하고 index reset 하여 gy_df 라는 변수에 저장하기
#data.loc[row , col]
gy_df = data.loc[data['광역시도'] == '경기도',['행정구역','인구수','면적']]\
.sort_values(by='인구수',ascending=False)\
.reset_index(drop=True)
# 인구수2 라는 새로운 컬럼을 생성하면서 인구수의 값에 세자리 단위로 컴마를 포함
gy_df['인구수2'] = gy_df['인구수'].map('{:,}'.format)
gy_df

In [ ]:
# 면적2 라는 새로운 컬럼을 생성하면서 면적의 값을 소수점 이하 2자리, map(lambda arg:body)
gy_df['면적2'] = gy_df['면적'].map(lambda val:f"{val:.2f}")
gy_df.head()

In [ ]:
# 면적이 > 1000 큰 조건과 매핑되는 새로운 DataFrame 생성 area_1000 라는 변수에 저장하기
area_1000 = data.loc[data['면적'] > 1000].copy()
# area_1000 DataFrame 객체에 면적2 컬럼을 생성
area_1000['면적2'] = area_1000['면적'].map('{:.2f}'.format)

#### inplace 속성에 대한 설명
* inplace = False (default값) - 원본 데이터를 변경하지 않고, 변경한 내용을 출력만 한다.
* inplace = True - 원본 데이터를 변경하고, 출력은 하지 않는다.

In [ ]:

area_1000.reset_index(drop=True, inplace=False)

In [ ]:
# index를 초기화, 원본을 변경
area_1000.reset_index(drop=True, inplace=True)

In [95]:
# axis=0 Row, axis=1 Column
# 'Unnamed: 0' 컬럼(axis=1)을 삭제, 원본을 변경
area_1000.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
# area_100 DataFrame 객체에 면적3 컬럼생성, 면적의 값이 1500보다 큰 경우에 해당하는 조건식
area_1000.loc[area_1000['면적'] > 1500,'면적3'] = area_1000['면적'].map('{:.2f}'.format)
area_1000[['행정구역','면적','면적2','면적3']]

In [101]:
#fillna()를 사용하여 NaN값을 초기화하기
area_1000.fillna(0,inplace=True)

In [ ]:
area_1000

In [103]:
#경기도 인구수의 평균과 표준편차
print(f"경기도 인구수 평균 = {gy_df['인구수'].mean()}")
print(f"경기도 인구수 편차 = {gy_df['인구수'].std()}")

경기도 인구수 평균 = 378845.48387096776
경기도 인구수 편차 = 304548.39514203876

In [104]:
data.columns

Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')

In [123]:
import math

#광역시도명을 인자로 받아서 해당 광역시에 속한 행정구역들의 인구수의 평균과 편차 출력하는 함수
def pop_mean_std(df, sido_name):
    sido_df = df.loc[df['광역시도'] == sido_name,'인구수':'행정구역'].copy()
    print(f"{sido_name} 인구수 평균 = {round(sido_df['인구수'].mean()):,}")
    std_pop = sido_df['인구수'].std()
    print(f"{sido_name} 인구수 편차 = {0 if math.isnan(std_pop) else f'{round(std_pop):,}'}")
    #print(f"{sido_name} 인구수 편차 = {sido_df['인구수'].std():,}")

In [116]:
pop_mean_std(data,'서울특별시')

서울특별시 인구수 평균 = 375,792
서울특별시 인구수 편차 = 125,231

In [ ]:
for sido_name in data['광역시도'].unique():
    pop_mean_std(data,sido_name)
    print('----------------------------------')

In [ ]:
#loc[] 사용
#인덱스가 20 부터 25까지
data.loc[20:25]

In [ ]:
#iloc[] 사용
#인덱스가 20 부터 24까지
data.iloc[20:25]

In [ ]:
#iloc[row index, column index] 사용 
#인덱스가 20 부터 25까지 컬럼이 인구수부터 행정구역 까지
data.iloc[20:25,1:8]

In [ ]:
#loc[] 사용
#index가 40,55,60 이고, column이 인구수,광역시도,행정구역
data.loc[[40,55,60],['인구수','광역시도','행정구역']]

In [ ]:
#인덱스가 0인 행 하나만 선택
print(type(data.loc[0]))
data.loc[0]

In [ ]:
#열 하나만 선택 - 면적 컬럼
print(type(data['면적']))
data['면적'].head()

### 컬럼명 변경하기, 컬럼을 인덱스 전환하기
* rename() 함수
* inPlace=False (default) 원본 DataFrame객체를 변경하지 않고, 변경한 결과만 출력한다.
* inPlace=True 원본 DataFrame객체를 변경하고, 변경한 결과는 출력하지 않는다.

In [131]:
data.columns

Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')

In [132]:
# 'Unnamed: 0' 컬럼명을 'seq' 로 변경한다. 원본 객체는 변경되지 않고 변경된 결과만 출력함 inplace=False
data.rename(columns={'Unnamed: 0':'seq'})

     seq     인구수 shortName   x   y       면적  광역시도 행정구역
0      0  202520        강릉  11   4  1040.07   강원도  강릉시
1      1   25589    고성(강원)   9   0   664.19   강원도  고성군
2      2   86747        동해  11   5   180.01   강원도  동해시
3      3   63986        삼척  11   8  1185.80   강원도  삼척시
4      4   76733        속초   9   1   105.25   강원도  속초시
..   ...     ...       ...  ..  ..      ...   ...  ...
224  224  127462        제천   8  10   882.47  충청북도  제천시
225  225   34480        증평   6  11    81.84  충청북도  증평군
226  226   62809        진천   5  11   406.08  충청북도  진천군
227  227  790216        청주   6  12   932.51  충청북도  청주시
228  228  198077        충주   6  10   983.70  충청북도  충주시

[229 rows x 8 columns]

In [134]:
#원본 객체가 변경되고 변경된 결과는 출력하지 않는다.
data.rename(columns={'Unnamed: 0':'seq'}, inplace=True)

In [136]:
# seq 컬럼을 인덱스로 변경한다 ( 원본 객체가 변경됨 )
data.set_index('seq', inplace=True)
data.head()

        인구수 shortName   x  y       면적 광역시도 행정구역
seq
0    202520        강릉  11  4  1040.07  강원도  강릉시
1     25589    고성(강원)   9  0   664.19  강원도  고성군
2     86747        동해  11  5   180.01  강원도  동해시
3     63986        삼척  11  8  1185.80  강원도  삼척시
4     76733        속초   9  1   105.25  강원도  속초시

### DataFrame을 Excel file로 저장하기
* 인구수가 평균보다 작은 행정구역, 광역시도, 인구수를 선택해서 DataFrame생성하기
* DataFrame의 to_excel() 함수 사용

In [137]:
# 인구수의 평균값 구하기
pop_mean_value=data['인구수'].mean()
print(pop_mean_value)
print(round(pop_mean_value))
print(f'{pop_mean_value:.2f}')

211089.77729257641
211090
211089.78

In [140]:
# 인구수의 평균값 보다 작은 Row를 선택하고, '광역시도','행정구역','인구수' 컬럼값을 가져오기
# 정렬할때 광역시도는 ascending으로 , 인구수는 descending
# index는 reset() 하기
pop_mean_lf_df = data.loc[data['인구수'] < pop_mean_value,['광역시도','행정구역','인구수']]\
.sort_values(by=['광역시도','인구수'],ascending=[True,False])\
.reset_index(drop=True)

In [141]:
# DataFrame의 to_excel() 함수를 사용하여 excel 파일로 저장
pop_mean_lf_df.to_excel('data/평균인구수미만지역.xlsx')

### GroupBy 기능 사용하기
* 광역시도별 행정구역의 인구수 합계
* ~별에 해당하는 컬럼명이나 컬럼값을 groupby() 함수의 인자로 전달한다.
* Series 객체의 groupby(data['광역시도']) 함수는 컬럼의 값을 인자로 전달하고
* DataFrame 객체의 groupby('광역시도') 함수는 컬럼명을 인자로 전달합니다.

In [143]:
# Series 객체 사용 - 광역시도별 인구수의 합계 
# SeriesGroupBy object
data['인구수'].groupby(data['광역시도']).sum()

광역시도
강원도         1429438
경기도        11744210
경상남도        3144487
경상북도        2508964
광주광역시       1438209
대구광역시       2378450
대전광역시       1467677
부산광역시       3323591
서울특별시       9394807
세종특별자치시      191233
울산광역시       1105585
인천광역시       2766575
전라남도        1700563
전라북도        1739048
제주특별자치도      575873
충청남도        1946129
충청북도        1484720
Name: 인구수, dtype: int64

In [144]:
data['인구수'].groupby(data['광역시도']).count()

광역시도
강원도        18
경기도        31
경상남도       18
경상북도       23
광주광역시       5
대구광역시       8
대전광역시       5
부산광역시      16
서울특별시      25
세종특별자치시     1
울산광역시       5
인천광역시      10
전라남도       22
전라북도       14
제주특별자치도     2
충청남도       15
충청북도       11
Name: 인구수, dtype: int64

In [ ]:
# DataFrame 객체 사용 - 광역시도별 인구수의 합계 
# DataFrameGroupBy object
data.groupby('광역시도').sum()

In [ ]:
# 광역시도별 행정구역별 인구수의 합계
data.groupby('광역시도')['인구수'].sum()

In [ ]:
# 숫자타입인 컬럼을 grouping하기
data[['인구수','면적','광역시도']].groupby('광역시도').sum(numeric_only=True)

In [152]:
# data/광역시도별행정구역별인구수의합계.xlsx 파일로 저장하기
group_df = data.groupby(['광역시도','행정구역'])['인구수'].sum()

In [153]:
group_df.tail()

광역시도  행정구역
충청북도  제천시     127462
      증평군      34480
      진천군      62809
      청주시     790216
      충주시     198077
Name: 인구수, dtype: int64

### 엑셀 수치 데이터에 콤마찍기
[pandas.ExcelWriter](https://pandas.pydata.org/docs/reference/api/pandas.ExcelWriter.html)

In [56]:
#%pip install xlsxwriter

In [57]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
#writer = pd.ExcelWriter('data/광역시도별인구수의합계1.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
#group_df.to_excel(writer, sheet_name='인구수합계')

# Get the xlsxwriter workbook and worksheet objects.
# workbook  = writer.book
# worksheet = writer.sheets['인구수합계']

# Set a currency number format for a column.
# num_format = workbook.add_format({'num_format': '#,###'})
# worksheet.set_column('C:C', None, num_format)

# Close the Pandas Excel writer and output the Excel file.
# writer.close() #_save()

#### 상관계수 (Correlation Coefficient)
* 인구수와 면적 데이터간에 관련성이 있는지 살펴보기 위해서 상관계수 구하기
* 상관계수 값은 -1 ~ 1 사이의 값이며, 0에 가까울 수록 관련성이 낮고, 1에 가까울 수록 관련성이 높다. 
* 음수는 반비례 (면적이 넓은 반면 인구수는 적은 경우), 양수는 비례 (면적이 넓고, 인구수도 높은 경우)
* corr() 함수

In [58]:
#전국의 면적과 인구수의 상관계수 구하기

In [59]:
#서울의 면적과 인구수의 상관계수 구하기

In [60]:
#경기도의 면적과 인구수의 상관계수 구하기

#### Groupby 한 DataFrame에 집계함수를 여러개 설정하기
* agg() 함수
* agg(['max','mean','std'])

In [61]:
# agg() 함수 사용하여 여러개의 통계함수를 사용합니다. 
# fillna(0) NaN 을 0 으로 변경해 줌

In [62]:
# agg() 함수 사용 - 그룹핑한 데이터를 여러개의 집계함수를 사용해서 새로운 DataFrame 객체 생성하기

In [63]:
# DataFrame의 style.format() 함수 사용하기

In [64]:
# 컬럼의 값을 변경하기 map() 함수를 사용하여 포맷하기

#### 시각화
* %matplotlib inline 설정 (jupyter 에서는 show() 함수를 호출하지 않아도 plot이 출력된다)
* 한글폰트 설정이 필요함
* Plot에 대한 설정은 matplotlib의 함수를 사용하고, Plot을 그려주는 기능은 seaborn()의 함수를 사용합니다.

In [65]:
%matplotlib inline

In [66]:
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns

print('matplotlib ', matplotlib.__version__)
print('seaborn ', sns.__version__)

matplotlib  3.9.2
seaborn  0.13.2

In [67]:
# for font in fm.fontManager.ttflist:
#     print((font.name, font.fname))
# 폰트이름과 폰트파일 정보 출력 list comprehension

In [68]:
# font name을 알고 있다면 생략가능
#한글폰트 path 설정

#font의 파일정보로 font name 을 알아내기

In [69]:
# matplotlib의 rc(run command) 함수를 사용해서 font name(Malgun Gothic) 설정

### Figure, Axes, Plot
* Axes는 Plot이 실제 그려지는 공간
* Figure는 Axes 보다 더 상위의 공간 : Figure을 여러개의 Axes로 분할해서 Plot를 그릴 수 있다
* 비교) Axis는 X 축, Y축
* seaborn의 barplot() 함수(막대그래프) 사용

In [70]:
# subplots() 함수를 사용하여 axes 객체를 생성하기

# seaborn의 barplot() 함수 호출하기 - 행정구역과 인구수

# seaborn의 barplot() 함수 호출하기 - 행정구역과 면적

# plt.show()

In [71]:
# 광역시도 이름을 인자로 받아서 인구수와 면적을 그려주는 함수
def show_pop_area(sido_name):
    pass

In [72]:
show_pop_area('경기도')

In [73]:
# 전국데이터의 광역시도의 인구수

In [74]:
# figure, ax1 = plt.subplots(nrows=1, ncols=1)
# figure.set_size_inches(18,12)
# sns.barplot(data=seoul_df, x="행정구역", y="인구수", ax=ax1,hue='행정구역')

#y축의 label값에 ,(콤마) 출력하기
# ax1.get_yaxis().set_major_formatter(plt.FuncFormatter(lambda x, loc: "{:,}".format(int(x))))


# for item in ax1.get_xticklabels(): 
#     item.set_rotation(90)
# for i, v in enumerate(seoul_df["인구수"].items()):
#     ax1.text(i ,v[1], "{:,}".format(v[1]), color='m', va ='bottom', rotation=45)
# plt.tight_layout()